%div.flash-box グループを作成しました。

%div.wrapper
  %div.chat-side
    %div.side-header
      %div.side-header__box
        %p.side-header__box__user-name 
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = link_to new_group_path do
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            = link_to edit_group_path(current_user) do
              %i.fa.fa-cog

    %div.groups
      = link_to root_path do
        %div.group
          %p.groups__group-name sample
          %p.groups__latest-message Good bye world!


  %div.chat-main
    %div.main-header
      %div.main-header__left-box
        %h2.main-header__left-box__current-group sample
        %ul.main-header__left-box__member-list
          
          Member : 
          
          %li.main-header__left-box__member-name
          seo
          %li.main-header__left-box__member-name
          neko
      =link_to root_path do
        %div.main-header__edit-btn Edit

    %div.messages
      %div.message
        %div.message__upper-info
          %p.message__upper-info__name seo
          %p.message__upper-info__date 2019/10/31(Thu) 22:00
        %p.message__text Hello world!
      %div.message
        %div.message__upper-info
          %p.message__upper-info__name neko
          %p.message__upper-info__date 2019/10/31(Thu) 22:30
        %p.message__text Good bye world!

    %div.form
      %form.new-message
        %div.input-box
          %input.input-box__text(type="text" placeholder="type a message")
          %label.input-box__image
            %i.fa.fa-image
            %input.input-box__image__file(type="file")
        %input.submit-btn(type="submit" value="Send")

      
