.groups{
  height: calc(100% - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  .group {
    margin-bottom: 40px;
    a{
      color: $font_color;
      text-decoration: none;
      .groups__group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      .groups__latest-message{
        font-size: 11px;
      }
    }
  }
}